<div class="base64-outer">
    <table>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <textarea placeholder="Put what you want to encode here..."></textarea>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td id="process-button" colspan="3"><button>Encode</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="">

</div>
<div class="base64-outer grey-div">
    <textarea  placeholder="Results displayed here..." disabled></textarea>
</div>